@use "./variables" as *;
@use "./functions" as *;
@use "./mixins" as *;

html {
  font-size: vw(16);
  font-family: "Secular One", sans-serif;
  overflow: hidden;
  overscroll-behavior: none;

  @include sp {
    font-size: vw_sp(16);
  }
}

body {
  font-size: rem(16);
  color: $color-black;
  background-color: $color-white;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100vh;

  @include pc() {
    padding-inline: rem(120);
  }
}

img {
  width: 100%;
  height: auto;
  user-select: none;
}

svg {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

[data-only-show="pc"] {
  display: block;

  @include sp {
    display: none !important;
  }
}

[data-only-show="sp"] {
  display: none;

  @include sp {
    display: block !important;
  }
}

footer {
  color: $color-black;
  background-color: $color-white;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: clip;
}

.webgl canvas {
  position: relative;
  z-index: -1
}