@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/mixins" as *;

:root {
  --grid-column: 24;
}

.gallery {
  position: relative;
}

.gallery__grid {
  position: absolute;
  left: 0;
  display: grid;
  grid-template-columns: repeat(var(--grid-column), 1fr);
  gap: rem(40);
}

.gallery__image {
  opacity: 0;
}

// margin
@for $i from 1 through 10 {
  .mt-#{$i} {
    margin-top: rem(30 * $i);
  }
}

// grid-columns
@for $i from 1 through 15 {
  .grid-column-span-#{$i} {
    grid-column: span #{$i} / span #{$i};
  }
}

@for $i from 1 through 15 {
  .grid-column-start-#{$i} {
    grid-column-start: #{$i};
  }
}
